@charset "UTF-8";
@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.navbar {
  --bs-navbar-brand-margin-end: 46px;
  --bs-navbar-padding-y: 1rem;
}

.nav-link {
  --bs-nav-link-color: $main-color;
}

.accordion-button:not(.collapsed) {
  --bs-accordion-active-color: #2268B4;
  --bs-accordion-active-bg: transparent;
}

body {
  background-color: #eaeaea;
  color: #17181A;
  font-family: lato, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

a {
  color: #17181A;
  text-decoration: none;
  display: block;
}
a:hover {
  color: #99C63C;
  transition: 0.3s ease-in-out;
}

svg {
  color: #17181A;
}

.header {
  box-shadow: 0px 0px 12px 0px rgba(72, 79, 78, 0.168627451);
}
.header__upper {
  padding: 5px 0;
}
.header__upper-language button {
  background-color: transparent;
  border: none;
}
.header__main {
  background-color: white;
}
.header__main .nav-item:not(:first-child):not(:last-child) {
  margin-right: 30px;
}
.header__search-wrapper {
  margin-right: 66px;
}

.search__nav {
  font-size: 13px;
}
.search__nav .active {
  color: #73962C;
}
.search__nav .breadcrumb {
  gap: 0.5rem; /* відступ між елементами */
}
.search__nav .breadcrumb-item {
  display: contents;
}
.search__title h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 0;
  margin-bottom: 26px;
}
.search__form form {
  width: -webkit-fill-available;
}
.search__form-nav {
  border-radius: 40px;
  padding: 8px 0;
}
.search__form input {
  border: none;
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}
.search__form button {
  border: none;
  color: #17181A;
}
.search__form-dropdown-nav {
  border-radius: 40px;
  padding: 8px 0;
}

.products__sidebar-btn {
  font-size: 12px;
  letter-spacing: 0;
  padding: 13px 13px;
}
.products__sidebar-btn button {
  font-size: 12px;
  background-color: transparent;
  border: none;
  color: #EB5757;
}
.products__sidebar-item {
  padding: 0 16px;
}
.products .accordion-button {
  box-shadow: none;
  padding: 0;
}
.products hr {
  margin-top: 0;
}
.products .accordion-body {
  padding: 16px 0;
}
.products__card {
  background-color: white;
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 30px;
  max-width: 300px;
}
.products__card-image {
  transition: transform 0.2s ease-in-out;
  justify-content: flex-start;
}
.products__card-image:hover {
  transform: translateX(-100%);
}
.products__card-image-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
@media (max-width: 576px) {
  .products__footer-dropdown {
    display: none;
  }
}
.products__footer-btn {
  border: 1px solid #c5bfbf;
}

.footer {
  background-color: #27282b;
  color: #BDBDBE;
  font-size: 13px;
}
.footer__info i {
  padding-right: 5px;
}
.footer__info address {
  font-weight: 400;
}
.footer__col ul,
.footer__col li {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.footer h5 {
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0;
  color: #FFFFFF;
}
.footer a {
  color: #BDBDBE;
}
.footer__social-mail input {
  background-color: transparent;
  border: none;
}
.footer__social-mail input::placeholder {
  color: #BDBDBE;
  text-align: end;
  font-size: 15px;
}
.footer__social-mail-form {
  padding: 10px 0;
}
.footer__social-language, .footer__social-mail {
  border: 1px solid #515151;
  border-radius: 40px;
}
.footer__social button {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  padding: 10px 0;
}
.footer__social i:hover {
  color: #99C63C;
}
.footer__copyright {
  background-color: black;
  padding: 7px 0;
}
.footer__copyright .bi-arrow-up-circle-fill {
  font-size: 20px;
}
.footer__copyright .bi-arrow-up-circle-fill:hover {
  color: #99C63C;
}

/*# sourceMappingURL=style.css.map */
