.header {
  box-shadow: 0px 0px 12px 0px #484F4E2B;

  &__upper {
    padding: 5px 0;

    &-language {
      button {
        background-color: transparent;
        border: none;
      }
    }
  }

  &__main {
    background-color: white;

    .nav-item {
      &:not(:first-child):not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__search-wrapper {
    margin-right: 66px;
  }
}